<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>My Blog</title>
	<!-- import angularjs, angular-route, angular-cookies, controller -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js" type="text/javascript"></script>
	<script src="/javascripts/controller.js" type="text/javascript"></script>
	<link href="/stylesheets/style.css" rel='stylesheet' type='text/css'>
	
</head>
<body ng-controller="postController">
	<div id="Header">
		<h1>Welcome to my Blog!</h1>
		<p style="font-size: 20px; color: blue;" ng-if="isLogin">Hello <%= account %>!</p>
		<a href="/signUp" ng-if="!isLogin"><button>Sign up</button></a>
		<a href="/signIn" ng-if="!isLogin"><button>Sign in</button></a>
		<a href="/articles"><button>Home</button></a>
		<button ng-if="isLogin" ng-click="logOut()">Log out</button>
	</div>
	
	<div>
		<center>
			<form name="postForm">
			Title: <input type="text" name="title" placeholder="Please type the title" ng-model="form.title" ng-required="true" style="margin-left: 34px;"><br>
			Content: <textarea name="content" placeholder="Please type your article" ng-model="form.content"></textarea><br>

			<button type="submit" ng-if="!isEdit && postForm.title.$valid" ng-click="postArticle()">submit</button>
			<button type="submit" ng-if="isEdit && postForm.title.$valid" ng-click="editArticle(article._id)">submit</button>
			</form>
		</center>
	</div>
	<script type="text/javascript">
		var id = "<%= article_id %>";
		var uid = "<%= user_id %>";
		var edit = <%= isEdit %>;
	</script>
</div>
</body>
</html>